* {
	padding:0;
	margin:0;
	line-height: normal;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	position: relative;
	width: 100%;
	display: block;
	background-color: #000;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0px 0 15px;
	font-weight: 500;
}
.mainViewContainer {
	width: 100%;
	float: none;
	overflow: hidden;
	display: block;
	box-sizing:border-box;
	padding: 20px 20px;
	max-width: 900px;
	margin: auto;
}
.mapsSectionHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	color: #FFFFFF;
}
.mapsSectionHolder a {
	text-decoration: none;
	color: #FF0000;
}
.mapsPageLogoHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	height: 100px;
	text-align: center;	
}
.mapsPageLogoHolder img {
	display: block;
	height: 100px;
	width: auto;
	margin: auto;
}
.googleMapsHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	height: 400px;
}
.mapInfoWindowContent {
	float: left;
	overflow: hidden;
	display: block;
}
.mapInfoWindowContent > ul {
	float: left;
	overflow: hidden;
	display: block;
	margin: 0;
}
.mapInfoWindowContent > ul > li {
	float: left;
	overflow: hidden;
	display: block;
	font-size: 12px;
	line-height: 24px;
	clear: both;
	color: #000000;
}
.mapInfoWindowContent > ul > li span {
	font-weight: bold;
}
.geoLocationSummary {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	padding: 20px;
	font-size: 12px;
	color: #444444;
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
}
.geoLocationSummary p {
	line-height: 20px;
}
p.centered {
	text-align: center;
}
.mainSectionHolder {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder img {
	height: 80px;
	width: auto;
	margin: auto;
	float: none;
	display: block;
}
.mainContentLogoHolder nav {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder nav > ul {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
	margin: 0;
	font-size: 12px;
	color: #FFFFFF;
}
.mainContentLogoHolder nav ul {
	font-size: 12px;
	font-weight: bold;
}
.mainContentLogoHolder nav > ul > li {
	float: left;
	display: inline-block;
}
.mainContentLogoHolder nav > ul > li:last-child a {
	border: none;
}
.dropdown-menu {
	background-color: #080808;
	border: none;
}
.dropdown-menu > li a {
	color: #FFFFFF;
}
.mainSectionSummaryHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	padding: 20px;
	font-size: 12px;
	color: #444444;
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
}
.mainSectionSummaryHolder p {
	font-size: 16px;
	line-height: 24px;
}
.navbar {
	margin: 0;
	border: none;
}
.personalInfoList {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.personalInfoList > li {
	float: left;
	display: block;
	clear: both;
	line-height: 30px;
	font-size: 16px;
	padding: 0 0 10px;
}
.personalInfoList > li span {
	font-weight: bold;
}