* {
	padding:0;
	margin:0;
	line-height: normal;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}
body {
	position: relative;
	width: 100%;
	display: block;
	background-color: #000;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0px 0 15px;
	font-weight: 500;
}
.mainViewContainer {
	width: 100%;
	float: none;
	overflow: hidden;
	display: block;
	box-sizing:border-box;
	padding: 20px 20px;
	max-width: 900px;
	margin: auto;
}
.mapsSectionHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	color: #FFFFFF;
}
.mapsSectionHolder a {
	text-decoration: none;
	color: #FF0000;
}
.mapsPageLogoHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	height: 100px;
	text-align: center;	
}
.mapsPageLogoHolder img {
	display: block;
	height: 100px;
	width: auto;
	margin: auto;
}
.googleMapsHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	height: 400px;
}
.mapInfoWindowContent {
	float: left;
	overflow: hidden;
	display: block;
}
.mapInfoWindowContent > ul {
	float: left;
	overflow: hidden;
	display: block;
	margin: 0;
}
.mapInfoWindowContent > ul > li {
	float: left;
	overflow: hidden;
	display: block;
	font-size: 12px;
	line-height: 24px;
	clear: both;
	color: #000000;
}
.mapInfoWindowContent > ul > li span {
	font-weight: bold;
}
.geoLocationSummary {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	padding: 20px;
	font-size: 12px;
	color: #444444;
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
}
.geoLocationSummary p {
	line-height: 20px;
}
p.centered {
	text-align: center;
}
.mainSectionHolder {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder img {
	height: 80px;
	width: auto;
	margin: auto;
	float: none;
	display: block;
}
.mainContentLogoHolder nav {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
}
.mainContentLogoHolder nav > ul {
	width: 100%;
	float: left;
	overflow: visible;
	display: block;
	margin: 0;
	font-size: 12px;
	color: #FFFFFF;
}
.mainContentLogoHolder nav ul {
	font-size: 12px;
	font-weight: bold;
}
.mainContentLogoHolder nav > ul > li {
	float: left;
	display: inline-block;
}
.mainContentLogoHolder nav > ul > li:last-child a {
	border: none;
}
.dropdown-menu {
	background-color: #080808;
	border: none;
}
.dropdown-menu > li a {
	color: #FFFFFF;
}
.mainSectionSummaryHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
	padding: 20px;
	font-size: 12px;
	color: #444444;
	background-color: #FFFFFF;
	border-radius: 0 0 6px 6px;
}
.mainSectionSummaryHolder p {
	font-size: 16px;
	line-height: 24px;
}
.navbar {
	margin: 0;
	border: none;
}
.personalInfoList {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.personalInfoList > li {
	float: left;
	display: block;
	clear: both;
	line-height: 30px;
	font-size: 16px;
	padding: 0 0 20px;
	border-bottom: dashed 1px #DDDDDD;
	margin: 0 0 20px;
}
.personalInfoList > li:last-child {
	border: none;
}
.personalInfoList > li span {
	font-weight: bold;
}
.personalInfoList .thumbnailHolder img {
	width: 100%;
	height: auto;
	border: solid 2px #DDDDDD;
	border-radius: 4px;
	padding: 5px;
}
.sectionTitleHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.thumbnailContent {
	padding: 10px 0;
	font-size: 16px;
	line-height: 24px;
}
.solo .thumbnailHolder img {
	height: 500px;
	width: auto;
	margin: auto;
	display: block;
	float: none;
}
.thumbnailContent  > ul {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.thumbnailContent  > ul > li {
	padding: 5px 0;
	list-style: circle;
	list-style-position: inside;
}
.thumbnailContent a {
	color: #FF0000;
	text-decoration: none;
}
.demonsContainer {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.demonThumbsHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	display: block;
}
.demonThumbsHolder > li {
	padding: 0 5px;
	position: relative;
}
.demonThumbsHolder > li img {
	width: auto;
	height: 250px;
	display: block;
	margin: auto;
	float: none;
}
.demonThumbsHolder > li img.demonEffect {
	width: auto;
	height: 250px;
	display: block;
	margin: auto;
	float: none;
	left: 0;
	right: 0;	
	position: absolute;
	top: 0;	
	opacity: 0;
}
.demonThumbsHolder > li .labelName {
	position: absolute;
	bottom: 0px;
	padding: 5px;
	left: 0;
	right: 0;
	margin: auto;
	float: none;
	background-color: #000000;
	color: #FFFFFF;
	font-size: 12px;
	width: 100px;
	display: block;
	overflow: hidden;
	text-align: center;
	z-index: 100;
}
.thumbnailContent button {
	width: 100%;
	display: block;
	line-height: 30px;
	margin: 10px 0;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #444444;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	font-weight: bold;
	float: left;
}
.hidden {
	display: none;
}