				<div class="sectionTitleHolder">
					<h3>Demons</h3>
				</div>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>There have been various attempts throughout history by theologian scholars in the classification of demons for the purpose of understanding the biblical and mythological context of adversarial spirits. Theologians have written dissertations in Christian demonology, classical occultism, classical mythology and Renaissance magic to clarify the connections between these spirits and their influence in various cultures</p>
					<ul>
						<li>
							<strong>Beelzebub</strong>, was a prince of the Seraphim, just below Lucifer. Beelzebub, along with Lucifer and Leviathan, were the first three angels to fall. He tempts men with pride and is opposed by St. Francis of Assisi.
						</li>
						<li>
							<strong>Lucifer</strong>, who is called the devil and Satan. King of all demons.
						</li>
						<li>
							<strong>Empusa</strong>, a shapeshifter, a demonic female with one leg that of a donkey and the other of brass, pursues travelers and eats them.
						</li>	
						<li>
							<strong>Batibat</strong>, a female nightmare demon that causes death during sleep, associated with trees. (Philippine)
						</li>
						<li>
							<strong>Berith</strong>, was a prince of the Cherubim. He tempts men to commit homicide, and to be quarrelsome, contentious, and blasphemous. He is opposed by St. Barnabas
						</li>
						<li>
							<strong>Lamia</strong>, a half woman half serpent demon; a sea monster; a night demon that preys on children, also a vampire.
						</li>
						<li>
							<strong>Verrine</strong>, was also prince of Thrones, just below Astaroth. He tempts men with impatience and is opposed by St. Dominic.
						</li>																																								
					</ul>
				</div>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<button id="showDemons" >Show demons</button>
				</div>
				<div id="demonContainer" class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12 hidden">
					<div id="demonsThumb" class="demonsContainer">
						<ul class="demonThumbsHolder">
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<img src="images/friends/j-normal.png"/>
								<div class="labelName">Beelzebub</div>
								<img class="demonEffect" src="images/friends/j-devil.png"/>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<img src="images/friends/a-normal.png"/>
								<div class="labelName">Lucifer</div>
								<img class="demonEffect" src="images/friends/a-devil.png"/>
							</li>
							<li class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<img src="images/friends/r-normal.png"/>
								<div class="labelName">Empusa</div>
								<img class="demonEffect" src="images/friends/r-devil.png"/>
							</li>
							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<img src="images/friends/mo-normal.png"/>
								<div class="labelName">Batibat</div>
								<img class="demonEffect" src="images/friends/mo-devil.png"/>
							</li>
							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<img src="images/friends/ar-normal.png"/>
								<div class="labelName">Berith</div>
								<img class="demonEffect" src="images/friends/ar-devil.png"/>
							</li>
							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<img src="images/friends/g-normal.png"/>
								<div class="labelName">Lamia</div>
								<img class="demonEffect" src="images/friends/g-devil.png"/>
							</li>
							<li class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
								<img src="images/friends/jm-normal.png"/>
								<div class="labelName">Verrine</div>
								<img class="demonEffect" src="images/friends/jm-devil.png"/>
							</li>														
						</ul>
					</div>
					<button id="showDemonForm" >Show true colors</button>
				</div>				