				<div class="sectionTitleHolder">
					<h3>Educational background</h3>
				</div>				
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>
						<strong>Elementary</strong>
					</h5>
					<p>San Feliper Neri Parochial School, 1993 - 1999</p>
				</div>	
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>
						<strong>Highschool</strong>
					</h5>
					<p>Rizal Technological University, 1999 - 2003</p>
				</div>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>
						<strong>College</strong>
					</h5>
					<p>Bachelor of Science in Electronics and Communication Engineering (BS ECE), Rizal Technological University, 2003 - 2005</p>
					<p>Bachelor of Science in Information Technology (BS IT), Jose Rizal University, 2006 - 2010</p>
					<h6>
						<strong>Awards</strong>
					</h6>
					<p>- Best Information System (Best Thesis)</p>
					<p>- Web Developer of the Year (Nominated) </p>
					<p>- Champion in Web Design </p>
				</div>											
				<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img src="images/family/bt-1.png" />
				</div>		
				<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<img src="images/family/bt-2.png" />
				</div>							