				<div class="sectionTitleHolder">
					<h3>Game</h3>
				</div>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>
						<b>Note:</b>
						<br/>
						Palengke ng Kalentong = 10 kilometro;
						<br/>
						PHP 1.00 = ang dagdag kada kilmetro
						<br/>
						PHP 125.00 = ang isang kilo ng baboy
						<br/>
						PHP 615.00 = ang perang napanalunan sa sugal
						<br/>
						PHP 13.00 = softdrinks
						<br/>
						8:00 am - 9:30 am = ang oras ng pangyayari
					</p>
					<p>Isang araw, meron isang nanay na nag ngangalang Anne-drew na nag utos sa kanyang anak na si James (dating nalulong sa cough syrup) habang ito ay nag lalaro ng baraha. Inutusan nya na mamalengke ang kanyang anak na lalaki sa palengke ng <b>"Kalentong"</b>.</p>
					<p>Pumayag ang anak at inaabot sa kanya ng kanyang ina ang pera na nagkakahalagang <b>PHP 1,130</b>. Dalawang (2) klase ng sasakyan ang kailangan nyang sakyan papuntang palengke ng <b>"Kalentong"</b>. Una ang <b>tricycle</b> na nagkakalagang <b>PHP 16.00</b> ang pamasahe papunta sa sakayan ng jeep. Samantalang sa jeep ay <b>PHP 8.00</b> ang pamasahe sa unang <b>4 kilometro</b>.</p>
					<p>Bago umalis si James, itinanong nya sa kanyang ina na si Anne-drew kung ano ang kanyang bibilhin. Sinabi ng ina na kailangan nya bumili ng <b>2 kilo</b> karne ng baboy (laman) para sa nalalapit na pyesta.</p> 
					<p>Pumayag si James, at dali daling umalis. Pag karating sa <b>"Kalentong"</b>, lumapit sya sa tindera at bumili na ng karne. Katapos ay umuwi na din sya kaagad.</p>
					<p>Pagdating nya sa kanilang bahay, inabot nya ito sa kanyang nanay kasama ang sukli at dali daling bumalik sa kanyang mga barkada upang magsugal.</p>
					<p>Laking gulat ni James ng bigla ng sumigaw ang kanyang nanay at dali dali syang lumapit dito. "Bakit po inay?" ang tanong ni James sa kanyang ina. Sinabi ng nanay nya na mali ang kanyang nabili. Napakamot ng ulo si James at sinabing <b>babalik sya sa "Kalentong"</b> para maitama ang kanyang pagkakamali. </p>
					<p>Pagdating nya sa palengke, bigla nyang naalala na nalimutan nya ang pinamiling karne at pera sa kanilang bahay. Dahil pagod na sya, ipinambili na lamang nya ang kanyang <b>perang napanalunan sa sugal</b>. Bumili sya sa bagong tindera dahil ayaw nya na magkamali. </p>
					<p>Bago sya umuwi, bumili sya ng softdrinks dahil sya ay nauuhaw.</p>
					<p>Pag karating sa kanilang bahay, binigay nya ang pinamili sa kanyang ina. Sa pag aakalang matutuwa ang kanyang ina, nagulat sya ng bigla siya netong binulyawan.</p>
					<p>Sabi ng ina kay James "Ang tanga tanga mo talaga! Pangalawang balik mo na yan pero mali pa din! Asan ang laman nyan?".</p>
					<p>Pagod dahil pabalik balik sa palengke, minura nya ang kanyang ina sa kanyang isipan. Nagtataka sya, ang layo layo nun at ang bigat pero walang laman.</p>
					<h3>
						<strong><i>Ang tanong, baket walang kalaman laman ang kanyang pinamili?</i></strong> 
					</h3>
				</div>