<section class="mainSectionHolder">
	<div class="mainContentLogoHolder">
		<img src="images/family/rafon-pic-small.jpg" />
		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <ul class="nav navbar-nav">
		      <li class="dropdown">
		        <a class="dropdown-toggle" data-toggle="dropdown">Personal Information
		        <span class="caret"></span></a>
		        <ul class="dropdown-menu">
		          <li><a ui-sref="personalInfo">Wife and kids</a></li>
		          <li><a ui-sref="personalInfo">Parents</a></li>
		          <li><a ui-sref="personalInfo">Education</a></li>
		        </ul>
		      </li>
		      <li><a ui-sref="personalInfo">Work Stuff</a></li>
		      <li><a ui-sref="personalInfo">Miscellaneous</a></li>
		    </ul>
		  </div>
		</nav>	
	</div>
	<div class="mainSectionSummaryHolder">
		<ul class="personalInfoList">
			<li>
				<h3>Who the hell I am?</h3>
				<p>Well, I am <strong><i>Rafon Sandoval Amista of Maps API</i></strong>, the First of his Name, the Unbeaten, NBA 2k "God", Certified Jungler and Carry, Legit Marksman, the Immortal, the Dark Knight, Basketball Genius, no Talkshit, no Fake News, Stackoverflow Hero, and the King of CSATs.</p>
			</li>
			<li>
				<h3>When and where was the "King" born?</h3>
				<p>25th of July, 20th Century <i>(1986)</i>. Our Lady of Lourdes Hospital, Santa Mesa, Manila </p>
			</li>		
		</ul>
	</div>	
</section>
