<li>
	<div class="sectionTitleHolder">
		<h3>Wife</h3>
	</div>				
	<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h4>Shiela Angela</h4>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/s2.png"/>
		</div>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/s3.png"/>
		</div>
	</div>				
</li>	
<li>	
	<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h4>Together</h4>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/raf-shiela-2.png"/>
		</div>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/raf-shiela-1.png"/>
		</div>
	</div>				
</li>	
<li>
	<div class="sectionTitleHolder">
		<h3>Kids</h3>
	</div>	
	<div class="thumbnailContent solo  col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="thumbnailHolder col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<img src="images/family/yoona-pierce2.jpg"/>
		</div>				
	</div>					
	<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h4>Yoona Angela, 7</h4>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/y1.png"/>
		</div>
		<div class="thumbnailHolder col-lg-6 col-md-6 col-sm-6 col-xs-12">
			<img src="images/family/y2.png"/>
		</div>
		<h4>Pierce Philipp, 1</h4>
		<div class="thumbnailHolder col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="images/family/p1.png"/>
		</div>
		<div class="thumbnailHolder col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="images/family/p2.png"/>
		</div>
		<div class="thumbnailHolder col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<img src="images/family/p3.png"/>
		</div>					
	</div>				
</li>	