<section class="mainSectionHolder">
	<div class="mainContentLogoHolder">
		<img src="images/family/rafon-pic-small.jpg" />
		<div ng-include="'./menu.html'"></div>
	</div>	
	<div class="mainSectionSummaryHolder">
		<ul class="personalInfoList">
			<li>
				<div class="sectionTitleHolder">
					<h3>Work Experience</h3>
				</div>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<p>Started working as a VBA Programmer (not included in resume).
					<br/>
					VBA stands for Visual Basic for Applications an event-driven programming language from Microsoft that is now predominantly used with Microsoft office applications such as MSExcel, MS-Word, and MS-Access.</p>
					<ul>
						<li>
							<strong>Web Developer (Out of the Box Web Consultancy Services Incorporated)</strong>, July 2010 – July 2011
						</li>
						<li>
							<strong>Development Lead  (Out of the Box Web Consultancy Services Incorporated)</strong>, July 2011 – September 2012
						</li>
						<li>
							<strong>Client Side / Front-end Developer (US Autoparts Network)</strong>, September 2012 – October 2013
						</li>	
						<li>
							<strong>Senior Front-end Developer (Entertainment Gateway Group)</strong>, October 2013 – September 2014
						</li>
						<li>
							<strong>Senior Front-end Developer (Flat Planet Philippines Incorporated)</strong>, Sept 2014– Aug 2015	
						</li>
						<li>
							<strong>Senior Front-end Developer (RealEstate.ph)</strong>, Aug 2015 – July 2016
						</li>
						<li>
							<strong>Senior/Lead Web Developer (IOX Information Technologies)</strong>, Sept 2016 – July 2017
						</li>
						<li>
							<strong>Maps API Support Engineer ( HCL Technologies Inc )</strong>, Aug 2017 - Present
						</li>																																									
					</ul>
				</div>
			</li>
			<li>
				<div class="thumbnailContent  col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h4>Technologies used and length of experience:</h4>
					<ul>
						<li>
							<strong>HTML(5)</strong>, 7+ years
						</li>
						<li>
							<strong>Javascript</strong>, 7+ years
						</li>
						<li>
							<strong>CSS(3)</strong>, 7+ years
						</li>	
						<li>
							<strong>JQuery</strong>, 7+ years
						</li>
						<li>
							<strong>PHP</strong>, 4+ years
						</li>
						<li>
							<strong>AngularJS 1.x</strong>, 3+ years
						</li>
						<li>
							<strong>ReactJS</strong>, 1+ year(s)
						</li>
						<li>
							<strong>BackboneJS</strong>, 1+ year(s)
						</li>
						<li>
							<strong>KnockoutJS</strong>, 1+ year(s)
						</li>	
						<li>
							<strong>NodeJS</strong>, 1+ year(s)
						</li>																						
						<li>
							<strong>Phalcon (PHP Framework)</strong>
						</li>
						<li>
							<strong>CakePHP (PHP Framework)</strong>
						</li>
						<li>
							<strong>Codeigniter (PHP Framework)</strong>
						</li>																								
						<li>
							<strong>Python</strong>
						</li>
						<li>
							<strong>MySQL</strong>
						</li>	
						<li>
							<strong>MongoDB (NoSQL)</strong>
						</li>	
						<li>
							<strong>Git / SVN</strong>
						</li>	
						<li>
							<strong>Agile Methodologies</strong>
						</li>	
						<li>
							<strong>JIRA</strong>
						</li>
						<li>
							<strong>VB 6</strong>
						</li>
						<li>
							<strong>ActionScript</strong>
						</li>																																																		
					</ul>
				</div>
			</li>		
		</ul>
	</div>	
</section>